.styled-dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: auto;
  margin: 0 24px 24px;
  border: 1px solid #B4B4B4;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border .24s ease-in-out;
}

@media only screen and (min-width: 1024px) {
  .styled-dropzone-container {
    min-height: 240px;
  }
}

.styled-dropzone-placeholder {
  margin: 1rem 1rem 0.25rem;
}

.styled-dropzone-placeholder img{
  width: auto;
  height: 40%;
}
