.application .left-container img,
.application .right-container img {
    height: 500px;
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-image: url("../../static/images/achievment/achievement.png");
}

.application .right-container h1 {
    font-size: 1.2rem;
}

.application .right-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-basis: 50%;
    width: 50%;
}

.application-mobile {
    display: none;
}

.application .left-container {
    justify-content: center;
    flex-basis: 50%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.application-mobile .right-container>h1 {
    font-size: 1rem;
}



@media only screen and (max-width:800px) {
    .features .message h3 {
        font-size: 20px;
    }
    .application .right-container h1 {
        font-size: 0.7rem;
    }
    .application .left-container img {
        height: auto;
        width: 10rem;
    }
    .application .right-container img {
        width: 10rem;
    }
}

@media only screen and (max-width: 600px) {
    .application .left-container {
        flex-basis: 40%;
    }
    .application .right-container {
        flex-basis: 60%;
    }
}

@media only screen and (max-width: 414px) {
    .application {
        display: none;
    }
    
}