@import './components/buttonbenefit.css';
@media only screen and (max-width: 500px) {
    .fiture-mobile-benefit {
        display: flex;
        flex-direction: column;
    }
}

.fiture-mobile .images {
    margin-top: -95px;
    display: flex;
    position: absolute;
}

.fiture-mobile .message {
    background: url('../static/images/features/chat-box.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 300px;
    margin-top: 760px;
    margin-left: -160px;
    height: 300px;
    width: 1300px;
    position: absolute;
    opacity: 0.8;
    padding: 70px 30px 0px 50px;
}

.fiture-mobile-benefit {
    display: flex;
    flex-direction: column;
}

.fiture-mobile-benefit .btn-primary-2 {
    font-size: 20px;
}

.fiture-mobile .message {
    font-size: 23px;
}

.fiture-mobile-message>h1 {
    font-size: 30px;
    color: #000000 !important;
}

.fiture-mobile-message {
    display: block;
    margin-top: 40px;
}

.fiture-mobile .btn-primary-start {
    width: 30%;
}

.fiture-mobile {
    display: flex;
    flex-direction: column;
}

.fiture-mobile .images {
    margin-left: 0px;
}

.fiture-mobile .images img {
    width: 50px;
    margin-top: 20px;
}

.fiture-mobile .images .monas {
    margin-top: 26%;
    height: 90px;
}

.fiture-mobile .images .monas img {
    width: 30px;
    transform: rotate(2deg);
}

.fiture-mobile .images .bali {
    margin-top: 2.7%;
    transform: rotate(2deg);
    margin-left: 3%;
}

.fiture-mobile .images .bali img {
    width: 30px;
}

.fiture-mobile .images .surabaya {
    margin-top: 11%;
    margin-left: 2%;
}

.fiture-mobile .images .surabaya img {
    height: 60px;
    width: 40px;
}

.fiture-mobile .images .rumah {
    margin-top: -9.1%;
}

.fiture-mobile .images .borobudur {
    margin-top: 7%;
}

.fiture-mobile .images .borobudur img {
    transform: rotate(5deg);
}